body {
  font-size: 18px;
  color: #212529;
}
h1,
h3 {
  text-transform: uppercase;
}
.App {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 1em;
  animation: background 15s ease-in-out 0s infinite;
  background-color: #01b3ce;
}

@keyframes background {
  0% {
    background-color: #01b3ce;
  }
  8.33%,
  25% {
    background-color: #ffc843;
  }
  33%,
  50% {
    background-color: #f23658;
  }
  58.33%,
  75% {
    background-color: #9fcd47;
  }
  83.33%,
  100% {
    background-color: #01b3ce;
  }
}
